aiofiles           
aiohttp            
aiomysql           
aiosignal          
attrs              
beautifulsoup4     
blinker            
bs4                
certifi            
charset-normalizer 
click              
colorama           
Flask              
frozenlist         
h11                
h2                 
hpack              
Hypercorn          
hyperframe         
idna               
itsdangerous       
Jinja2             
MarkupSafe         
multidict          
pip                
priority           
PyMySQL            
Quart              
requests           
setuptools         
soupsieve          
urllib3            
Werkzeug           
wheel              
wsproto            
yarl               